
<%= render "form" %>






<!-- <form action="/restaurants" method="post">
  <input type="text" name="restaurant[name]" placeholder="Enter name">
  <input type="text" name="restaurant[address]" placeholder="Enter address">
  <input type="text" name="restaurant[rating]" placeholder="Your rating">
  <input type="submit">
</form> -->
